Source: ros-hydro-kdl-parser
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin (>= 0.5.68), ros-hydro-cmake-modules, ros-hydro-orocos-kdl (>= 1.3.0), ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-rostest, ros-hydro-urdf
Homepage: http://ros.org/wiki/kdl_parser
Standards-Version: 3.9.2

Package: ros-hydro-kdl-parser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-orocos-kdl (>= 1.3.0), ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-urdf
Description: The Kinematics and Dynamics Library (KDL) defines a tree structure to represent the kinematic and dynamic parameters of a robot mechanism. kdl_parser provides tools to construct a KDL tree from an XML robot representation in URDF.
